html, body{
  height: 100%;
}
body{
  background-color: #6495ED;
  color: #fff;
}
.center-content{
  height: 85%;
}
/* Main Content */

.header-main, .footer-main{
  height: 10%;
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #6495ED;
  padding-left:12px;
  padding-right: 18px;
}
.header-main {
    background: none;
}
.header-main a{
    color: #6495ED;
    font-size: 1.2em;
}

.main-search, .main-donate{
  width: 100%;
  min-height: 280px;
  max-width: 680px;
  display: inline-block;
  color: #6495ED;
}

.main-donate{
    max-width: 400px;
}
.main-donate{
  width: 100%;
}

.main-content{
  background-color: #fff;
  padding-top: 12px;
    text-align: center;
}
.main-title{
  color: #6495ED;
  font-family: 'Roboto';
  padding-bottom: 12px;
}
.main-block input{
  height: 3.4em;
}
.main-block .glyphicon-search{
  font-size: 2.1em;
  color: #6495ED;
}
.search  .input-group-btn .btn{
  border: none;
  background: none;
}


/* End Main Content */

/* Página de Registro */
.register-form{
  color: #810081;
  padding-bottom: 24px;
}
.register-form input{
  height: 34px;
}
.register-title{
  font-size: 1.5em;
}

/* End Página de Registro */

.login-content{
  min-height: 280px;
}
.logo-text {
    font-family: 'Fredoka One', cursive;
}

.navbar-toggle-color {
    border-color: white;
    color: white;
    
}

.user {
    display: inline-block;
}

.logout {
    display: inline-block;
    margin-left: 36px;
    float: right;
}

.header-main .col-xs-12 {
    font-size: 1.2em;
    vertical-align: middle;
}

footer{
    position: absolute;
    bottom: 0px;
    width: 100%;
}
.footer-main{
    height: 60px;
    text-align: center;
    display: table;
}
.footer-main small{
    float: none;
    vertical-align: middle;
    display: table-cell;
}

.results {
    max-width: 680px;
}


