html, body{
  height: 100%;
}
body{
  background-color: #6495ED;
  color: #fff;
  font-family: 'Roboto';
}
.center-content{
  height: 85%;
}
.table-cell {
  display: table-cell;
  vertical-align: middle;
  float: none;
}
.inline-table {
  display: inline-table !important;
}
.no-padding{
    padding: 0;
}
@media screen and (max-width: 768px) {
    .center-content h1{
        font-size: 28px;
    }
    .center-content h4 {
        font-size: 17px;
    }
}


/* Main Content */

.dropdown-menu {
   min-width: 220px;
}

@media (max-width: 767px) {
    .dropdown-menu {
        min-width: 220px;
    }
    /*min-width: 160px;*/
}

.header-main, .footer-main, .footer-login{
  height: 10%;
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #6495ED;
  padding-left:12px;
  padding-right: 18px;
}
.header-main {
    background: none;
}
.header-main a{
    color: #6495ED;
    font-size: 1.2em;
}

.content-brief {
    margin: 24px 0;
}

.main-search, .main-donate, .main-login{
  width: 100%;
  min-height: 280px;
  max-width: 680px;
  display: inline-block;
  color: #6495ED;
}

.main-donate{
    max-width: 400px;
}
.main-donate{
  width: 100%;
}

.main-content{
  background-color: #fff;
  padding-top: 12px;
    text-align: center;
}
.main-title {
    color: #6495ED;
    font-family: 'Roboto';
    padding-bottom: 12px;
}

.main-block input, .cadastrar .btn-default, .cadastrar select{
  height: 3.4em;
}
.main-block .glyphicon-search{
  font-size: 2.1em;
  color: #6495ED;
}
.search  .input-group-btn .btn{
  border: none;
  background: none;
}

.section-main {
  padding-bottom: 80px;
}
/* End Main Content */

/* Página de Registro */
.register-form{
  color: #810081;
  padding-bottom: 24px;
}
.register-form input{
  height: 34px;
}
.register-title{
  font-size: 1.5em;
}

/* End Página de Registro */

/*.login-content{
  min-height: 280px;
}*/
.logo-text, .cadastro-header {
    font-family: 'Fredoka One', cursive;
}

.navbar-toggle-color {
    border-color: white;
    color: white;
    
}

.user {
    display: inline-block;
}

.logout {
    display: inline-block;
    margin-left: 36px;
    float: right;
}

.header-main .col-xs-12 {
    font-size: 1.2em;
    vertical-align: middle;
}

footer{
    position: absolute;
    bottom: 0px;
    width: 100%;
}
.footer-main{
    height: 60px;
    text-align: center;
    display: table;
}
.footer-main small{
    float: none;
    vertical-align: middle;
    display: table-cell;
}

.results {
    max-width: 680px;
}


/* TELA DE LOGIN */

.login-content {
  height: 90%;
}

    .login-content section {
        width: 100%;
        height: 100%;
        display: table;
    }

.main-content-login {
    display: table-cell;
    vertical-align: middle;
    float: none;
}

.main-login .logo-text{
    color:white;
    font-size: 56px;
}
.main-login .logo-text::before{
    content: "QLivros";
}
.main-login .btn {
    width: 35%;
    margin-top: 16px;
    margin-bottom: 36px;
    display: inline-block;
}

.main-login a {
    color: #fff;
    display: block;
    text-align: center;
}


/* FIM DA TELA DE LOGIN */




/* INICIO DO MODAL */

.modal.in .table{
    height:100%;
    margin: 0;
    display: table;
    color: #3A5FCD; 
}

.modal.in .table .modal-dialog {
    display: table-cell;
    vertical-align: middle;
}
.modal-dialog .container-fluid {
    width: inherit;
    margin: inherit;
}

.modal-body{
    color:#555;
}

.modal-body .lead {
    color: #3A5FCD;
}
/* FIM DO MODAL */

/* TELA DE CADASTRO DE LEITORES*/

.cadastrar {
    color: #fff;
}


.cadastrar .container-fluid .row > div > div{
    margin-bottom: 12px;
}

    .cadastrar .tables {
        margin: 18px 0;
        display: table;
        width: 100%;
    }

    .cadastrar label{
        font-size: 1.25em;
    }

/* FIM DA TELA DE CADASTRO DE LEITORES */