@model TabLeitor
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_LayoutInterno.cshtml";
}

@using (Html.BeginForm("Lista", "Exemplar", FormMethod.Post, new { })) { 
    <div class="panel-body">
        <div class="form-group">
            @Html.Label("Entre com o título", new { @for = "input-titulo", @class = "form-horizontal" })
            @Html.TextBox("titulo", null, new { @class = "form-control", id = "input-titulo", placeholder = "Entre com o título" })
            @if (ViewBag.SemLista != null)
            {
                @ViewBag.SemLista
            }
        </div>
    </div>

    <button type="submit" class="btn btn-default">Pesquisar</button>
}