@model IQueryable<TabResenha>
@{
    ViewBag.Title = "Lista";
    Layout = "~/Views/Shared/_LayoutInterno.cshtml";
}

<div class="list-group">
    <a href="#" class="list-group-item active">
        Você possui notificações de:
    </a>
    @foreach (var registro in Model)
    {
        @Ajax.ActionLink(String.Format("Resenha de: {0} - \n publicada em {1}  \n  Tipo da resenha: {2}",registro.TabLeitor.dsLogin,registro.dtPublicacao,registro.ResolveTipoResenha()), "Info", "Resenha", new { idResenha = registro.idResenha }, new AjaxOptions() { UpdateTargetId = "qlivros-modal-content", OnSuccess = "QLivrosModal", InsertionMode = InsertionMode.Replace, HttpMethod = "GET" }, new { @class = "list-group-item" })
    }

</div>



