@model IQueryable<TabResenha>
@{
    ViewBag.Title = "Lista";
    Layout = "~/Views/Shared/_LayoutInterno.cshtml";
}

<h1>Lista de Resenhas</h1>
<h4 class="text-left content-brief">Selecione uma resenha para visualizar o seu conteúdo.</h4>
<div class="list-group">
    @foreach (var registro in Model)
    {
        @Ajax.ActionLink(String.Format("Resenha de: {0} - publicada em {1}  \n  Tipo da resenha: {2}", registro.TabLeitor.dsLogin, registro.dtPublicacao, registro.ResolveTipoResenha()), "Info", "Resenha", new { idResenha = registro.idResenha }, new AjaxOptions() { UpdateTargetId = "qlivros-modal-content", OnSuccess = "QLivrosModal", InsertionMode = InsertionMode.Replace, HttpMethod = "GET" }, new { @class = "list-group-item" })
    }

</div>



