@model IQueryable<TabHistorico>
@{
    ViewBag.Title = "AcompanharHistorico";
    Layout = "~/Views/Shared/_LayoutInterno.cshtml";
}

<h1>Acompanhar Histórico</h1>
<h4 class="text-left content-brief">Selecione um exemplar para acompanhar o seu histórico. Veja por quem e quais regiões o exemplar já passou.</h4>
<div class="list-group">
    @foreach (var registro in Model)
    {
        @Ajax.ActionLink(@registro.TabExemplar.TabTitulo.nmTitulo, "VisualizarHistorico", "Historico", new { idExemplar = registro.fkIdExemplar }, new AjaxOptions() { UpdateTargetId = "qlivros-modal-content", OnSuccess = "QLivrosModal", InsertionMode = InsertionMode.Replace, HttpMethod = "GET" }, new { @class = "list-group-item" })
    }
</div>



