@model List<TabHistorico>
@{
    ViewBag.Title = "Lista";
    Layout = "~/Views/Shared/_LayoutInterno.cshtml";
}

<h1>Notificações</h1>
<h4 class="text-left content-brief">Você recebeu notificação de doação dos leitores abaixo. Selecione um para ver mais detalhes</h4>
<div class="list-group">
    @foreach (var registro in Model)
    {
        @Ajax.ActionLink(@registro.TabLeitor.dsLogin, "Info", "Historico", new { idHistorico = registro.idHistorico }, new AjaxOptions() { UpdateTargetId = "qlivros-modal-content", OnSuccess = "QLivrosModal", InsertionMode = InsertionMode.Replace, HttpMethod = "GET" }, new { @class = "list-group-item" })
    }
</div>


