@model Tuple<List<TabHistorico>,int>
@{
    ViewBag.Title = "RomperCorrente";
    Layout = "~/Views/Shared/_LayoutInterno.cshtml";
}

<h1>Romper Corrente</h1>
<h4 class="text-left content-brief">Selecione um exemplar para romper corrente. Dessa forma, ele não poderá mais ser pesquisado pelos demais leitores.</h4>
<div class="list-group">
    @foreach (var registro in Model.Item1)
    {
        @Ajax.ActionLink(String.Format("{0} - {1}ª Edição", @registro.TabExemplar.TabTitulo.nmTitulo, @registro.TabExemplar.dsEdicao), "PesquisarExemplar", "Exemplar", new { idExemplar = registro.fkIdExemplar, idLeitor = Model.Item2 }, new AjaxOptions() { UpdateTargetId = "qlivros-modal-content", OnSuccess = "QLivrosModal", InsertionMode = InsertionMode.Replace, HttpMethod = "GET" }, new { @class = "list-group-item" })
    }

</div>

@if (ViewBag.erro != null)
{
    <div class="alert alert-danger" role="alert">
        @ViewBag.erro
    </div>
}


