    <div class="container-fluid">
        <section class="row text-center">
            <div class="col-xs-12">
                @RenderBody()
            </div>
        </section>
    </div>
    @Scripts.Render("~/bundles/bootstrap")

