<div class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="table">
        <div class="modal-dialog modal-vertical-centered" role="document" id="qlivros-modal-content">

        </div>
    </div>
</div>
